body {
  background-color: #edf5fc
}
.App {
  text-align: left;
  width: 285px;
  height: 1000vh;
  margin: auto;
  margin-top: 30px;
  background-color: white;
}

.react-countdown-clock {
  margin-top: 30px;
  display: block;
  margin: 20px auto;
}

.timer {
  background-color: gray;
  display: inline-block;
}

.delete-button{
  /* background-color: black; */
  display: inline-block;
}

.timer button {
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

.task-list {
  height: 300px;
  text-overflow: clip;
  overflow: scroll;
}

.hidden {
  display: none;
}

.calendar{
  width: 245px;
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media only screen (max-width: 768px){

}

@media only screen (max-width: 1024px){

}	

@media only screen (max-width: 1200px){

} */